<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Валаамский поломник</title>
		<!--link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"-->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

		<!--link rel="icon" type="image/png" href="/favicon.png" /-->

		<!--script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1587e4dd-6d70-4885-aeec-5e92c324be4c" type="text/javascript"></script>
		<script type="text/javascript" src="./scripts/maps/main_map.js"></script-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
		<!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script-->
		<script src="./scripts/mask/jquery.maskedinput.min.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->	
		<link rel="stylesheet" type="text/css" href="./sliderClick/slick.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link href="./styles/styles.css" rel="stylesheet"/>
</head>
<body>
	<header class="header">
		<div class="header__row">
			<div class="header__top">
				<button class="header__btn-mob header__menu-mob"></button>
				<div class="header__phones">
					<span class="header__phone">
						<a class="header__phone-link" href="tel:+78129028611">8 (812) 902-8611</a>
					</span>
					<span class="header__phone">
						<a class="header__phone-link" href="tel:+74992509799">8 (499) 250-9799</a>
					</span>
				</div>
				<div class="header__logins">
					<div class="header__login">
						<img class="header__login-icon" src="./img/icon_login.png" alt="login icon">
						<a class="header__login-auth" href="javascript:void(0)">Войти</a> / 
						<a class="header__login-reg" href="javascript:void(0)">Зарегистрироваться</a>
					</div>
					<div class="header__langs">
						<ul class="header__lang">
							<li class="header__lang-content">
								<img class="header__lang-icon" src="./img/icon_langs_rus.png" alt="lang list">
								<img class="header__lang-arrow" src="./img/icon_arrow_langs.png" alt="lang arrow">
								<ul class="header__langs-list">
									<li class="header__lang-item">
										<img class="header__lang-icon" src="./img/icon_langs_rus.png" alt="lang list">
										<img class="header__lang-arrow transform-180" src="./img/icon_arrow_langs.png" alt="lang arrow">
									</li>									
									<li class="header__lang-item">
										<a class="header__lang-link" href="#">
											<img class="header__lang-icon" src="./img/icon_langs_fin.png" alt="lang list">
											<span class="header__lang-name">fi</span>
										</a>

									</li>
									<li class="header__lang-item">
										<a class="header__lang-link" href="#">
											<img class="header__lang-icon" src="./img/icon_langs_eng.png" alt="lang list">
											<span class="header__lang-name">en</span>
										</a>

									</li>									
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<a href="tel:+79001111111" class="header__btn-mob header__phone-mob"></a>
			</div>			
		</div>
		<div class="header__row">
			<div class="header-bottom">
				<a href="#">
					<img class="header-bottom__logo" src="./img/logo.svg" alt="logo">
				</a>
				<ul class="header-bottom__nav">
					<li class="header-bottom__submenu">
						<a class="header-bottom__link" href="#">Программы</a>
						<ul class="header-bottom__sub-menu">
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Расписание</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Однодневные</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Многодневные</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Индивидуальные</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Приходам</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Организованным группам</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Услуги</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Оставить заявку</a>
							</li>
						</ul>
					</li>
					<li class="header-bottom__submenu">
						<a class="header-bottom__link" href="#">На валааме</a>
						<ul class="header-bottom__sub-menu">
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Экскурсии</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Размещение</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Теплоходы</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Правила поведения в монастыре</a>
							</li>
						</ul>						
					</li>
					<li class="header-bottom__submenu">
						<a class="header-bottom__link" href="#">Информация</a>
						<ul class="header-bottom__sub-menu">
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Условия оплаты
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Реквизиты
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Возврат денежных средств
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">Обучение экскурсоводов
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Волонтёром на Валаам
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Часто задаваемые вопросы
								</a>
							</li>							
						</ul>
					</li>	
					<li class="header-bottom__submenu">
						<a class="header-bottom__link" href="#">О нас</a>
						<ul class="header-bottom__sub-menu">
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Паломническая служба
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Статьи
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Новости
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Подписка
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Вакансии
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Отзывы
								</a>
							</li>
							<li class="header-bottom__sub-item">
								<a class="header-bottom__sub-link" href="#">
									Контакты
								</a>
							</li>													
						</ul>
					</li>
					<li class="header-bottom__menu header-bottom_order">
						<a class="header-bottom__link" href="#">Заказ</a>
					</li>												
				</ul>
			</div>				
		</div>
	</header>
	<div class="menu-mobile__conteiner">
		<div class="menu-mobile__header">
			<button class="header__btn-mob header__close-mob"></button>
			<div class="header__login">
				<img class="header__login-icon" src="./img/icon_login.png" alt="login icon">
				<a class="header__login-auth" href="javascript:void(0)">Войти</a> / 
				<a class="header__login-reg" href="javascript:void(0)">Зарегистрироваться</a>
			</div>
			<a href="tel:+79001111111" class="header__btn-mob header__phone-mob"></a>
		</div>
		<div class="menu-mobile__content">
			<ul class="menu-mobile__nav">
				<li class="header-bottom__submenu">
					<button class="header-bottom__link">Программы</button>
					<ul class="menu-mobile__sub-menu">
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Расписание</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Однодневные</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Многодневные</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Индивидуальные</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Приходам</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Организованным группам</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Услуги</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Оставить заявку</a>
						</li>
					</ul>
				</li>
				<li class="header-bottom__submenu">
					<button class="header-bottom__link">На валааме</button>
					<ul class="menu-mobile__sub-menu">
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Экскурсии</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Размещение</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Теплоходы</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Правила поведения в монастыре</a>
						</li>
					</ul>						
				</li>
				<li class="header-bottom__submenu">
					<button class="header-bottom__link">Информация</button>
					<ul class="menu-mobile__sub-menu">
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Условия оплаты
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Реквизиты
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Возврат денежных средств
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">Обучение экскурсоводов
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Волонтёром на Валаам
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Часто задаваемые вопросы
							</a>
						</li>							
					</ul>
				</li>	
				<li class="header-bottom__submenu">
					<button class="header-bottom__link">О нас</button>
					<ul class="menu-mobile__sub-menu">
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Паломническая служба
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Статьи
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Новости
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Подписка
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Вакансии
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Отзывы
							</a>
						</li>
						<li class="header-bottom__sub-item">
							<a class="header-bottom__sub-link" href="#">
								Контакты
							</a>
						</li>													
					</ul>
				</li>												
			</ul>
		</div>
		<div class="menu-mobile__footer">
			<button type="button" class="vp-btn w-100">Заказ</button>
			<ul class="menu-mobile__langs-list">
				<li class="header__lang-item">
					<img class="header__lang-icon" src="./img/icon_langs_rus.png" alt="lang list">
					<span class="header__lang-name">ru</span>
				</li>									
				<li class="header__lang-item">
					<a class="header__lang-link" href="#">
						<img class="header__lang-icon" src="./img/icon_langs_fin.png" alt="lang list">
						<span class="header__lang-name">fi</span>
					</a>
				</li>
				<li class="header__lang-item">
					<a class="header__lang-link" href="#">
						<img class="header__lang-icon" src="./img/icon_langs_eng.png" alt="lang list">
						<span class="header__lang-name">en</span>
					</a>
				</li>									
			</ul>
		</div>
	</div>
	<!--главная-->
	<main id="index" class="main">
		<section class="main__header">
			<video class="main__poster">
				<source src="" type='video/ogg; codecs="theora, vorbis"'>
				<source src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
				<source src="" type='video/webm; codecs="vp8, vorbis"'>
			</video>
			<div class="header__search">
				<div class="header__filter">
					<div class="main__title">ПАЛОМНИЧЕСТВО НА ВАЛААМ</div>
					<div class="main__search">
						<input 
							type="text" 
							class="vp-input icon-pos-right icon_date mr-10 flex-2" 
							value="" 
							placeholder="Дата заезда"
							showmodal="datepicker-lite"
							inputobj="00587" 
							readonly
							data=""	
						>
						<input 
							type="text" 
							class="vp-input icon-pos-right icon_duration mr-10 flex-2" 
							value="" 
							placeholder="Продолжительность"
							showmodal="duration-list"
							inputobj="91755" 
							readonly
							data=""	
						>	
						<input 
							type="text" 
							class="vp-input icon-pos-right icon_count mr-10 flex-2" 
							value="" 
							placeholder="Количество человек"
							showmodal="count-list"
							inputobj="229974" 
							readonly
							data=""
						>
						<button type="submit" class="vp-btn pl-50 pr-50 flex-1">Найти</button>
					</div>	
				</div>
			</div>				
		</section>
		<section class="section populars">
			<div class="main__caption">Популярные программы</div>
			<div class="list-grid list_left" v-bind:class="popularsVisible">
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>
				<div class="popular-list">
					<div class="popular-list__header">
						<img src="./img/popular_item_1.png" alt="" class="popular-list__img">
						<a href="#" class="popular-list__link">
							<div class="popular-list__title">Осенний Валаам из Сортавала</div>
						</a>
					</div>
					<div class="popular-list__options">
						<div class="popular-list__option">
							<img src="./img/icon_calendar.png" alt="" class="options__icon">
							<span class="options__label">15.10.2022 - сб | 22.10.2022 - сб</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_service.png" alt="" class="options__icon">
							<span class="options__label">Без обеда</span>
						</div>
						<div class="popular-list__option">
							<img src="./img/icon_geo.png" alt="" class="popular-list__icon">
							<span class="options__label">Санкт-Петербург</span>
						</div>						
					</div>
					<div class="popular-list__footer">
						<div class="popular-list__price">
							от
							<span class="popular-list__price-value">15 849 ₽</span>
							/чел							
						</div>
						<a href="#" class="popular-list__link">
							<div class="popular-list__btn">Смотреть</div>
						</a>
						
					</div>
					<div class="label-list">
						<img src="./img/icon_clock.png" alt="icon clock">
						<span>2 дня</span>
					</div>
				</div>							
			</div>
			<div class="list list_center">
				<div class="pagination">
					<a href="#prev" class="pagination__item pagination_prev"></a>
					<a class="pagination__item pagination_item-active">1</a>
					<a href="#" class="pagination__item">2</a>
					<a href="#" class="pagination__item">3</a>
					<a href="#" class="pagination__item">4</a>
					<a href="#" class="pagination__item">5</a>
					<a class="pagination__item">...</a>
					<a href="#" class="pagination__item">20</a>
					<a href="#next" class="pagination__item pagination_next"></a>
				</div>				
			</div>	
		</section>
		<section class="section posts">
			<div class="list">
				<div class="post-list">
					<a href="#" class="post-list__link">
						<div class="post-list__title">О ВАЛААМЕ</div>
					</a>
					<div class="post-list__desc">
						Остров в северной части Ладожского озера, самый большой в составе Валаамского архипелага
					</div>					
					<img src="./img/popular_item_1.png" alt="" class="post-list__img">
				</div>
				<div class="post-list">
					<a href="#" class="post-list__link">
						<div class="post-list__title">О ВАЛААМЕ</div>
					</a>
					<div class="post-list__desc">
						Более 15 экскурсионных маршрутов по острову Валаам
					</div>					
					<img src="./img/popular_item_1.png" alt="" class="post-list__img">
				</div>	
				<div class="post-list">
					<a href="#" class="post-list__link">
						<div class="post-list__title">О ВАЛААМЕ</div>
					</a>
					<div class="post-list__desc">
						Актуальное расписание на весь сезон
					</div>	
					<img src="./img/popular_item_1.png" alt="" class="post-list__img">
				</div>
				<div class="post-list">
					<a href="#" class="post-list__link">
						<div class="post-list__title">О ВАЛААМЕ</div>
					</a>
					<div class="post-list__desc">
						Поделитесь своими впечатлениями от посещения острова Валаам
					</div>	
					<img src="./img/popular_item_1.png" alt="" class="post-list__img">
				</div>										
			</div>
		</section>
		<section class="section map">
			<div class="map">
				<div class="map__title">АДРЕСА ПРИЧАЛОВ</div>
				<div id="main_map" class="map__content">
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0d32a7319b14aef44c06305519d354f8190b68af08ef76c96c4a452a3dadbd4e&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
				</div>
				<div class="map__footer">
					<div class="map__geo">
						<div class="map__index">1</div>
						<span class="map__location">
							Причал в Сортавала ул. 2-я Пристанская, 1
						</span>
					</div>
					<div class="map__geo">
						<div class="map__index">2</div>
						<span class="map__location">
							Причал в Сортавала ул. 2-я Пристанская, 1
						</span>
					</div>
					<div class="map__geo">
						<div class="map__index">3</div>
						<span class="map__location">
							Причал в Сортавала ул. 2-я Пристанская, 1
						</span>
					</div>
					<div class="map__geo">
						<div class="map__index">4</div>
						<span class="map__location">
							Причал в Сортавала ул. 2-я Пристанская, 1
						</span>
					</div>										
				</div>				
			</div>
		</section>
		<section class="section find-programs">
			<div class="find-programs__title">НЕ НАШЛИ ПОДХОДЯЩУЮ ПРОГРАММУ?</div>
			<div class="find-programs__construct">
				<span class="find-programs__label">Воспользуйтесь сервисом</span>
				<a href="#" class="vp-btn find-programs__link ml-20 bg-yellow">КОНСТРУКТОР ПРОГРАММ</a>
			</div>
			<div class="find-programs__separate"></div>
			<span class="find-programs__label">Или оставьте заявку, с Вами свяжется организатор</span>
			<div class="find-programs__form">
				<input v-model="findProgramInputs.name" type="text" class="vp-input icon-pos-left icon_name pl-40 flex-1" value="" placeholder="Ваше имя">	
				<input v-model="findProgramInputs.phone" type="text" class="vp-input icon-pos-left icon_telefon ml-20 pl-40 flex-1" value="" placeholder="Телефон">
				<button type="button" class="vp-btn ml-20 pl-20 pr-20" @click.prevent="findProgramClick">Оставить заявку</button>				
			</div>
			<div class="checkbox__label" v-bind:class="findProgramInputs.visible">
				<span class="mt-10 w-100 ta-right red">{{ findProgramInputs.error }}</span>
			</div>
			<div class="checkbox__label">
				<input type="checkbox" class="checkbox" checked="">
				<span class="checkbox__text while">Я согласен с условиями передачи информации</span>
			</div>
		</section>
	</main>
	<!--главная-->
	<footer class="footer">
		<div class="footer__content">
			<div class="footer__col">
				<a href="#">
					<img src="./img/logo_footer.svg" alt="logo">
				</a>
				<p class="footer__adress">191124, г. Санкт-Петербург, Синопская наб., д. 34/36</p>

			</div>
			<div class="footer__col">
				<span class="footer__phone">
					<a class="footer__phone-link" href="tel:+78129028611">8 (812) 902-8611</a>
				</span>
				<span class="footer__phone">
					<a class="footer__phone-link" href="tel:+74992509799">8 (499) 250-9799</a>
				</span>
				<span class="footer__email">E-mail: 
					<a class="footer__email-link" href="mailto:vp@vp.valaam.ru">vp@vp.valaam.ru</a>
				</span>
				<div class="footer__icons">
					<a class="footer__icons-link" href="#vk">
						<img class="footer__icon" src="./img/vk_footer.png" alt="vk">
					</a>
					<a class="footer__icons-link" href="#ok">
						<img class="footer__icon" src="./img/ok_footer.png" alt="ok">
					</a>
					<a class="footer__icons-link" href="#telegram">
						<img class="footer__icon" src="./img/telegram_footer.png" alt="telegram">
					</a>
					<a class="footer__icons-link" href="#viber">
						<img class="footer__icon" src="./img/viber_footer.png" alt="viber">
					</a>
				</div>			
			</div>
			<div class="footer__col">
				<ul class="footer__menu">
					<li class="footer__item">
						<a class="footer__item-link" href="#">Посетить</a>
					</li>
					<li class="footer__item">
						<a class="footer__item-link" href="#">На Валааме</a>
					</li>
					<li class="footer__item">
						<a class="footer__item-link" href="#">Информация</a>
					</li>
					<li class="footer__item">
						<a class="footer__item-link" href="#">О нас</a>
					</li>
					<li class="footer__item">
						<a class="footer__item-link" href="#">Заказ</a>
					</li>
				</ul>
				<div class="footer__widgets">
                  <!--div class="footer__weather"-->
                    <!-- Gismeteo informer START -->
                    <link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
                    <div id="gsInformerID-0inwnca3r20hrr" class="gsInformer" style="width:100px;height:100px">
                        <div class="gsIContent">
                            <div id="cityLink">
                                <a href="https://www.gismeteo.ru/weather-valaam-200804/" target="_blank" title="Погода в Валааме">
                                    <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Валааме">
                                </a>
                                </div>
                            <div class="gsLinks">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="leftCol">
                                                <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                                    <img alt="Погода" src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                                    <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                                                </a>
                                                </div>
                                                <div class="rightCol">
                                                    <a href="https://www.gismeteo.ru/weather-valaam-200804/2-weeks/" target="_blank" title="Погода в Валааме на 2 недели">
                                                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Валааме на 2 недели">
                                                    </a>
                                                </div>
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    <!--/div-->
                    <script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=0inwnca3r20hrr"></script>
                    <!-- Gismeteo informer END -->
				</div>				
			</div>
		</div>
		<div class="footer__content">
			<p class="footer__dev">Разработка сайта — 
				<a class="footer__dev-link" href="#dev">Фабрика турсайтов</a>
			</p>
			<div class="footer__pay">
				<img class="footer__card" src="./img/pay-mir.png" alt="mir">
				<img class="footer__card" src="./img/pay-mastercard.png" alt="mastercard">
				<img class="footer__card" src="./img/pay-visa.png" alt="visa">
			</div>
		</div>
	</footer>
	<div id="m-login" class="modals modal login" style="display: none;">
		<a href="javascript:void(0)" class="modal__close-link">
			<img src="./img/icon_modal_close.png" alt="" class="modal__close">
		</a>
		<form class="modal__form" action="/">
		<div class="modal__forms">
			<div class="modal__caption">Вход</div>
			<input type="text" class="modal_username modal__input vp-input_invalid" placeholder="Телефон или email">
			<span class="modal__invalid-msg hide">Не верный ввод</span>
			<input type="password" class="modal_password modal__input" placeholder="Пароль">
			<span class="modal__invalid-msg hide">Не верный пароль</span>			
			<div class="modal__options">
				<div class="checkbox__label">
					<input type="checkbox" class="checkbox" checked>
					<span class="checkbox__text">Запомнить пароль</span>
				</div>
				<button type="button" class="modal__forgot">Забыли пароль?</button>
			</div>
			<button type="button" class="modal__submit modal_submit-login">Войти</button>				
		</div>
		<div class="modal__info">
			<div class="modal__title">Нет аккаунта?</div>
			<div class="modal__desc">
			На вашу почту будет отправлена инструкция с дальнейшими действиями.
			</div>
			<a href="javascript:void(0)" class="modal__btn">ЗАРЕГИСТРИРОВАТЬСЯ</a>
		</div>
		</form>
	</div>
	<div id="m-register" class="modals modal register" style="display: none;">
		<a href="javascript:void(0)" class="modal__close-link">
			<img src="./img/icon_modal_close_black.png" alt="" class="modal__close">
		</a>
		<form class="modal__form" action="/">
		<div class="modal__info modal_br-left">
			<div class="modal__title">Есть аккаунт?</div>
			<div class="modal__desc">
			Если вы зарегистрированы и у вас есть аккаунт, то нажмите кнопку 
			</div>
			<a href="javascript:void(0)" class="modal__btn">Войти</a>
		</div>		
		<div class="modal__forms">
			<div class="modal__caption">Регистрация</div>
			<div class="modal__subtitle">Для физических лиц</div>
			<input type="text" class="modal_username modal__input" placeholder="Имя">
			<input type="email" class="modal_email modal__input" placeholder="Email">
			<input type="phone" class="modal_phone modal__input" placeholder="Телефон">
			<div class="modal__options modal_pos-v">
				<div class="checkbox__label">
					<input type="checkbox" class="checkbox" checked>
					<span class="checkbox__text">Я согласен с условиями передачи информации</span>
				</div>
				<div class="checkbox__label">
					<input type="checkbox" class="checkbox" checked>
					<span class="checkbox__text">Подписаться на рассылку новостей</span>
				</div>
			</div>
			<button type="button" class="modal__submit modal_submit-reg">Зарегистрироваться</button>
			<a href="#" class="modal__link w-100">Регистрация для юридических лиц</a>
		</div>
		</form>
	</div>
	<div class="modals modal recovery-password">
		<a href="javascript:void(0)" class="modal__close-link">
			<img src="./img/icon_modal_close_black.png" alt="" class="modal__close">
		</a>
		<form class="modal__form" action="/">
			<div class="modal__forms">
				<div class="modal__caption">Восстановление пароля</div>
				<input type="email" class="modal_email modal__input" placeholder="Email">
				<div class="modal__captcha"></div>
				<div class="modal__desc gray">
				Это легко исправить! Заполните личные данные и добро пожаловать к нам!
				</div>
				<button type="button" class="modal__submit modal_submit-recpass">ВОССТАНОВИТЬ ПАРОЛЬ</button>
			</div>
		</form>	
	</div>
	<div class="modal__blocked" style="display: none;"></div>
	<div class="popup__blocked" style="display: none;"></div>
	<div class="popup popup__listing duration-list hide" popupobject="" obj="">
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Один день</span>
		</div>
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Два дня</span>
		</div>
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Три дня</span>
		</div>
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Четыре дня</span>
		</div>	
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Пять дней</span>
		</div>
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Шесть дней</span>
		</div>	
		<div class="checkbox__label">
			<input type="checkbox" class="checkbox">
			<span class="checkbox__text">Семь дней и более</span>
		</div>								
	</div>
	<div class="popup popup__listing radiobox-list hide" popupobject="" obj="">
		<div class="radiobox__label">
			<input type="radio" class="radiobox">
			<span class="radiobox__text">Один день</span>
		</div>
		<div class="radiobox__label">
			<input type="radio" class="radiobox">
			<span class="radiobox__text">Два дня</span>
		</div>		
	</div>
	<div class="popup popup__select geo-list hide" popupobject="" obj="">
		<div class="select__item">Санкт-Петербург</div>
		<div class="select__item">Приозёрск</div>
		<div class="select__item">Псков</div>
		<div class="select__item">Великий Новгород</div>
		<div class="select__item">Калуга</div>
	</div>
	<div class="popup popup__select docs-list hide" popupobject="" obj="">
		<div class="select__item">Паспорт РФ</div>
		<div class="select__item">Свидетельство о рождении</div>
		<div class="select__item">Паспорт иностранца</div>
	</div>
	<div class="popup popup__select benefits-list hide" popupobject="" obj="">
		<div class="select__item">Студент</div>
		<div class="select__item">Инвалид</div>
		<div class="select__item">Пенсионер</div>
	</div>
	<div class="popup popup__select findout-list hide" popupobject="" obj="">
		<div class="select__item">Новости</div>
		<div class="select__item">Реклама</div>
		<div class="select__item">Соцсети</div>
		<div class="select__item">Радио</div>
		<div class="select__item">Интернет</div>
		<div class="select__item">Другое</div>
	</div>
	<div class="popup popup__composition count-list hide" popupobject="" obj="">
		<div class="popup__composition-list">
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text">Взрослых</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="6">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">0</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text" value="0-6">Дети от 0-6</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="3">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">0</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text" value="7-12">Дети 7-12 лет</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="3">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">0</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>			
			<!--div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text">Возраст ребёнка</span>
				</div>
				<div class="index-form__input">
					<select class="index-form__select">
						<option value="1">До 7 лет</option>
						<option value="2">От 7 до 14 лет</option>
						<option value="3">Старше 14 лет</option>
					</select>
				</div>
			</div-->						
		</div>
		<button class="popup__composition-btn">Готово</button>
	</div>
	<div class="popup popup__datepicker datepicker datepicker-lite hide" popupobject="" obj="">
		<div class="datepicker__header bg-while">
			<div class="datepicker_prev-btn datepicker-lite__prev-btn"></div>
			<div class="datepicker_label datepicker-lite__header-label" month="11" year="2022">Декабрь 2022</div>
			<div class="datepicker_next-btn datepicker-lite__next-btn"></div>
		</div>
		<div class="datepicker__body border-none">
			<div class="datepicker__date datepicker_another-month">26</div>
			<div class="datepicker__date datepicker_another-month">27</div>
			<div class="datepicker__date datepicker_another-month">28</div>
			<div class="datepicker__date datepicker_another-month">29</div>
			<div class="datepicker__date datepicker_another-month">30</div>
			<div class="datepicker__date">1</div>
			<div class="datepicker__date">2</div>
			<div class="datepicker__date">3</div>
			<div class="datepicker__date">4</div>
			<div class="datepicker__date">5</div>
			<div class="datepicker__date">6</div>
			<div class="datepicker__date">7</div>
			<div class="datepicker__date">8</div>
			<div class="datepicker__date">9</div>
			<div class="datepicker__date">10</div>
			<div class="datepicker__date">11</div>
			<div class="datepicker__date">12</div>
			<div class="datepicker__date">13</div>
			<div class="datepicker__date">14</div>
			<div class="datepicker__date">15</div>
			<div class="datepicker__date">16</div>
			<div class="datepicker__date">17</div>
			<div class="datepicker__date">18</div>
			<div class="datepicker__date">19</div>
			<div class="datepicker__date">20</div>
			<div class="datepicker__date">21</div>
			<div class="datepicker__date">22</div>
			<div class="datepicker__date">23</div>
			<div class="datepicker__date">24</div>
			<div class="datepicker__date">25</div>
			<div class="datepicker__date">26</div>
			<div class="datepicker__date">27</div>
			<div class="datepicker__date">28</div>
			<div class="datepicker__date">29</div>
			<div class="datepicker__date">30</div>
			<div class="datepicker__date">31</div>
			<div class="datepicker__date datepicker_another-month">1</div>
			<div class="datepicker__date datepicker_another-month">2</div>
			<div class="datepicker__date datepicker_another-month">3</div>
			<div class="datepicker__date datepicker_another-month">4</div>
			<div class="datepicker__date datepicker_another-month">5</div>
			<div class="datepicker__date datepicker_another-month">6</div>
		</div>
	</div>
	<div class="popup popup__datepicker datepicker datepicker-prog p-15 hide" popupobject="" obj="">
		<div class="datepicker__header br-20">
			<div class="datepicker_prev-btn datepicker__prev-btn"></div>
			<div class="datepicker_label datepicker__header-label" month="11" year="2022">Декабрь 2022</div>
			<div class="datepicker_next-btn datepicker__next-btn"></div>
		</div>
		<div class="datepicker__body border-none p-0">
			<div class="datepicker__date datepicker_another-month">26</div>
			<div class="datepicker__date datepicker_another-month">27</div>
			<div class="datepicker__date datepicker_another-month">28</div>
			<div class="datepicker__date datepicker_another-month">29</div>
			<div class="datepicker__date datepicker_another-month">30</div>
			<div class="datepicker__date">1</div>
			<div class="datepicker__date">2</div>
			<div class="datepicker__date">3</div>
			<div class="datepicker__date">4</div>
			<div class="datepicker__date">5</div>
			<div class="datepicker__date">6</div>
			<div class="datepicker__date">7</div>
			<div class="datepicker__date">8</div>
			<div class="datepicker__date">9</div>
			<div class="datepicker__date">10</div>
			<div class="datepicker__date">11</div>
			<div class="datepicker__date">12</div>
			<div class="datepicker__date">13</div>
			<div class="datepicker__date">14</div>
			<div class="datepicker__date">15</div>
			<div class="datepicker__date">16</div>
			<div class="datepicker__date">17</div>
			<div class="datepicker__date">18</div>
			<div class="datepicker__date">19</div>
			<div class="datepicker__date">20</div>
			<div class="datepicker__date">21</div>
			<div class="datepicker__date">22</div>
			<div class="datepicker__date">23</div>
			<div class="datepicker__date">24</div>
			<div class="datepicker__date">25</div>
			<div class="datepicker__date">26</div>
			<div class="datepicker__date">27</div>
			<div class="datepicker__date">28</div>
			<div class="datepicker__date">29</div>
			<div class="datepicker__date">30</div>
			<div class="datepicker__date">31</div>
			<div class="datepicker__date datepicker_another-month">1</div>
			<div class="datepicker__date datepicker_another-month">2</div>
			<div class="datepicker__date datepicker_another-month">3</div>
			<div class="datepicker__date datepicker_another-month">4</div>
			<div class="datepicker__date datepicker_another-month">5</div>
			<div class="datepicker__date datepicker_another-month">6</div>
		</div>
		<div class="datepicker__footer p-0">
			<div class="datepicker__status">
				<div class="datepicker__point bg-green"></div>
				<span class="datepicker__point-label">Много</span>
			</div>
			<div class="datepicker__status">
				<div class="datepicker__point bg-orange"></div>
				<span class="datepicker__point-label">Мало</span>
			</div>
			<div class="datepicker__status">
				<div class="datepicker__point bg-red"></div>
				<span class="datepicker__point-label">Закончились</span>
			</div>									
		</div>
	</div>
	<div class="modals modal edit-order hide">
		<div class="edit-order__content">
			<div class="buy-tickets-form__title">Редактировать ЗАЯВКУ</div>
			<input 
				type="text" 
				class="search__filter icon_date flatpickr-input active" 
				value="" 
				placeholder="Дата поездки" 
				showmodal="datepicker-prog"
				inputobj="29816" 
				readonly
				data=""
			>
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text">Взрослые</span>
					<span class="index-form__text">6 000 ₽</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="6">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">1</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text">Дети 7-12 лет</span>
					<span class="index-form__text">3 000 ₽</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="6">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">1</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>
			<div class="index-form">
				<div class="index-form__label">
					<span class="index-form__text">Дети 0-6 лет</span>
					<span class="index-form__text">0 ₽</span>
				</div>
				<div class="index-form__input" minValue="0" maxValue="6">
					<div class="index-form__btn-minus"></div>
					<span class="index-form__value">1</span>
					<div class="index-form__btn-plus"></div>
				</div>
			</div>
			<div class="buy-tickets-form__total">
				<span class="buy-tickets-form__total-label">Итого</span>
				<span class="buy-tickets-form__price">15 000 ₽</span>
			</div>
			<button class="vp-btn">Сохранить</button>
			<div class="edit-order__close">
				<img src="./img/icon_modal_close_red.png" alt="close">
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript" src="./scripts/scriptVue.js"></script>
	<script type="text/javascript" src="./sliderClick/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
	<script type="text/javascript" src="./scripts/pluginJquery/vpdatepicker.js"></script>
	<script type="text/javascript" src="./scripts/script.js"></script>
	
</body>
</html>